# .clang-format

BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always

# Specific to Java style
ColumnLimit: 120    # Set to a reasonable limit for readability
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
# AllowShortLinesOnASingleLine: true
BreakBeforeBraces: Attach  # Use 'Attach' style for braces, similar to Java
SpaceBeforeParens: ControlStatements # Place space before '(' in control statements

# Alignments
AlignTrailingComments: true
AlignConsecutiveDeclarations: true

# C++ style specific behaviors
SpacesInParentheses: false
SpaceAfterCStyleCast: true

# Misc formats
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^".*"$'
    Priority: 1
